<div class="container">
  <form action="POST">
    <div class="form-group">
      <label for="authorfield">Author</label>
      <input type="text" class="form-control" id="recipe-author" placeholder="Type Your Name Here...">
    </div>
    <div class="form-group">
      <label for="recipeNameField">Name of Recipe</label>
      <input type="text" class="form-control" id="recipe-name" placeholder="Recipe Title Goes Here">
    </div>
    <div class="form-group">
      <label for="mainIngredientField">Main Ingredient</label>
      <input type="text" class="form-control" id="recipe-main" placeholder="Main item, ie: chicken, fish, etc">
    </div>
    <div class="form-group">
      <label for="otherIngredientsField">Other Ingredients</label>
      <input type="text" class="form-control" id="recipe-other" placeholder="Type Your Name Here...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Recipe Category</label>
      <select class="form-control" id="recipe-category">
        <option>Entree</option>
        <option>Side Dish</option>
        <option>Dessert </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Directions</label>
      <textarea class="form-control" id="recipe-directions" rows="7"></textarea>
    </div>

    <button id="submit" class="btn btn-primary float-right">Submit Your Recipe</button>
  </form>
</div>











<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>