<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Name</title>
            </th>
            <th>Author</th>
            <th>Ingredients</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {{#each recipes}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Author}}</td>
            <td>{{this.Ingredients}}</td>
            <td>{{this.Rating}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>